@import "~antd/dist/antd.css";
@import "./SidebarApp.css";
@import "./Main.css";
@import "./Header.css";
@import "./fonts/style.css";
@import "./MailsNotification.css";
@import "./Pupils.css";
@import "./ModalEditPupil.css";
@import "./index.css";
@import "./WeeklyApp.css";
@import "./InputSearch.css";

body {
    /*min-height: 75rem;*/
    /*padding-top: 6rem;*/
    background-color: #f5f7fa;
}

#root {
    height: 100%;
}

/* .wrapper-main {
    flex-grow: 0;
} */


/* todo change classes below (in header)*/

/* html {
    height: 100%;
}
body {
    min-height: 100%;
} */

.main-layout {
    transition: all 0.2s;
    min-height: 100%;
}

.content-layout-main {
    flex-grow: 0;
    margin: 85px 16px 24px 16px;
    padding: 2rem;
    background: #fff;
    /* min-height: 280px; */
}

.open-sidebar {
    margin-left: 200px;
}

.closed-sidebar {
    margin-left: 80px;
}
