.trigger {
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.main-layout .wrapper-main .header-main {
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    position: fixed;
    height: 50px;
    z-index: 1000;  
    padding: 0 2em .2em 1em;
    background: #FFF;
    box-shadow: 2px 4px 20px -4px rgba(0,0,0,.1);
    transition: all 0.2s;   
}

.header-main .header-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.header-main .header-right .icon-item {
    margin: .3em 2em 0 0;
}



.header-main .header-right  a {
    font-size: 1.1em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
}

.ant-dropdown-link .header-avatar {
    margin-right: .25em;
}

.main-layout .wrapper-main .header-open-side {
    width: calc(100% - 80px);
}

.main-layout .wrapper-main .header-closed-side {
    width: calc(100% - 200px);
}

.wrapper-main {
    overflow-x: visible;
}