.dropdown-header {
    margin: 1.3em 0 0 0;

}

.dropdown-menu-media {
    min-height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    list-style-type: none;
    border-radius: .5rem .5rem .5rem .5rem;   
    border: 1px solid rgba(34,36,38,.15);
    background-color: #FFF;
    box-shadow: 0 2px 3px rgba(34,36,38,.15);
}

.dropdown-header:before {
    display: block;
    position: absolute;
    pointer-events: none;
    content: '';
    width: .7em;
    height: .7em;
    top: 1em;
    left: auto;
    right: .8em;
    margin: 0;
    transform: rotate(45deg);
    background: #FFF;
    box-shadow: -1px -1px 0 0 rgba(34,36,38,.15);
    z-index: 2;
}

.dropdown-profile:before {
    top: -.3em;
    right: 4em;
    z-index: -1;
}

.dropdown-menu-media li {
    width: 100%;
}


.dropdown-menu-header {
    display: flex;
    height: 45px;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid #E6E6E6;
    color: #626E82;
}

/* Link in nav-menu */

.dropdown-menu-footer {
    width: 100%;
}

.dropdown-menu-footer a {
    display: inline-block;
    width: 100%;
    padding: .5rem 0 .5rem;
    text-align: center;
    border-top: 2px solid #E6E6E6;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    color: #868e96;
}

.dropdown-menu-footer a:hover,  .dropdown-menu-footer a:focus {
    background-color: #e2e6ea;
    color: #868e96;
}

.dropdown-menu-footer a:active {
    color: black;
    background-color: #e2e6ea;
}


