.content-main {    
    /* padding: 1.4rem; */
    /*transition: transition-ease-out;*/    
    background-color: white;
    
}



/* Header and footer panel for buttons */
.main-header-btns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.main-header-btns button {
    margin-right: 1rem;
}

.main-header-btns label {
    margin-right: 1.5rem;
}

.main-footer-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}


.main-footer-btns button {
    margin-right: 1rem;
}


@media (max-width: 767px) {
    .content-wrapper {
        padding: 0.7rem;
        margin-left: 0;
    }

}



