.main-menu {
    display: table-cell;
    position: fixed;
    box-sizing: inherit;
    z-index: 1000;
    width: 240px;
    height: calc(100% - 4rem);
    top: 4rem;
    background: #404E67;
    box-shadow: 1px 0 20px rgba(0,0,0,.1);
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }

.main-menu .main-menu-content {
    position: relative;

}

.main-menu .navigation {
    background: #404E67;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: .9rem;
}

.main-menu .navigation .nav-item {
    padding: 0;
    position: relative;
    white-space: nowrap;
    border-left: 4px solid transparent;
    line-height: 1.8;
    font-weight: 400;
}

.main-menu .navigation li .active {
    background: #344054;
}

.main-menu .navigation li .active a {
    color: #00B5B8;
    font-weight: 500;
}

.main-menu .navigation li a {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 30px 10px 14px;
    text-decoration: none;
    color: #DCDCDC;
    font-size: 1rem;
}

.main-menu .navigation li a:hover {
    color:#E6E6E6;
    background-color: #38445A;
}

.main-menu .navigation li.open {
    border-left: 4px solid #00B5B8;
}

.main-menu .navigation li.open>a {
    background-color: #38445A;
}

/*.main-menu .navigation li.open ul li>a:hover {*/
    /*color:#E6E6E6;*/
/*}*/


.main-menu .navigation li ul li.hover {
    background:#344054
}

.main-menu .navigation li a i {
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.main-menu .navigation li ul {
    padding:0;
    margin:0;
    font-size: 1rem;
}


.main-menu .navigation li ul li a {
    padding: 10px 18px 10px 50px;
}

.main-menu .navigation .navigation-header {
    padding: 24px 20px 8px;
    color: #DCDCDC;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 1rem;
}

.main-menu .navigation-header span {
    font-weight: 600;
}

@media (max-width: 767px) {
    .main-menu {
        top: 3.5rem;
    }

}
