.weekly-container {
    display: flex;
    flex-direction: row;
}


.sidebar-w {
    padding: 1.5em 1em 0 0;
    flex: 1;
}

.sidebar-w .individual {
    padding-bottom: 2em;
}

.sidebar-w .is-over {
    background-color: rgba(0, 100, 0, 0.1);
    opacity: 0.3;
    border-radius: 0.5em;
}

.sidebar-w h4 {
    margin-bottom: 1em;
    font-weight: 600;
    color: #5A5D6C;    
}

.sidebar-item {
    margin: 0 1em 0.85em 0; 
    padding: 0.35em;
    border-radius: 0.5em;   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.sidebar-item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}







.table-w {
    display: flex;
    flex: 4;
    justify-content: space-between;
    border: hidden;
    border-collapse: collapse;       
}


.column-w {
    flex: 1 0 0;
    /* flex-grow: 1; */
}

.cell-w {
    border: 1px solid #F3F3F3;
    height: 5em;
    padding: 0.5em;
}

.cell-empty {
    height: 100%;
}

.cell-w .is-over {
    background-color: darkgreen;
    opacity: 0.3;
    border-radius: 0.5em;
}

.cell-box {
    height: 100%;
}


/* height: 200%; if 1.5 academic hours  */
.cell-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0.35em 0.5em;
    opacity: 0.9;
    height: 100%;
    border-radius: 0.5em;
    /* background-color: #76DDD6; */
}

.cell-item .btn-weekly {
    opacity: 0;
    width: 22px;
    height: 22px;
    font-size: 1em;
}

.cell-item p:first-child {
    margin-bottom: 0.10em;
    font-weight: 500;
}

.cell-item:hover .btn-weekly {
    opacity: 1;
}

.cell-item:active {
    border-radius: 0.5em;
    border-color: transparent;
}

.cell-box .cell-item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


/* COLORS */
.weekly-container .aque {
    background-color: #76DDD6
}

.weekly-container .pink {
    background-color: #F1AFC9;
}

.weekly-container .yellow {
    background-color: #FFE35E;
}

.weekly-container .blue {
    background-color: #83A3E2;
}

.weekly-container .salat {
    background-color: #8AEF80;
}

.weekly-container .green {
    background-color: #269088;
}

.weekly-container .orange {
    background-color: #FFBC88
}

.weekly-container .violet {
    background-color: #6D28AA;
}

.weekly-container .red {
    background-color: #A32638;
}



.table-w ul {
    margin: 4.3em 0 0 0;
    padding: 0;
    list-style: none;
}

.table-w ul li {
    padding: 0 1em 3.5em 0;

}

.table-w ul li span {
    font-size: 0.9em;
    color: #ACB3C3;
    font-weight: 600;
}

.day {
    padding-top: 1.5em;
    border-top-style: none;
    text-align: center;
    font-size: 1.04em;
    font-weight: 500;
    color: #ABB2C2;
}


.table-w .column-w:nth-child(2) .cell-w {
    border-left-style: none; 
}

.table-w .column-w:last-child .cell-w {
    border-right-style: none; 
}

.table-w .column-w:nth-child(2) .cell-w:first-child {
    border-left-style: none;
}

.table-w .column-w:last-child .cell-w:first-child {    
    border-right-style: none;
}

.table-w .column-w .cell-w:last-child {
    border-bottom-style: none;
}

